<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="icon" href="">
    <title>Let´s Talk!</title>
    <link rel="stylesheet" type="text/css" href="css/crearPregunta.css" media="screen" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo">Let´s Talk!</div>
            <div class="botones">
                <div class="Perfil">
                    <a href="\perfil.html">
                        PERFIL
                    </a>
                </div>
                <div class="Amigos">
                    <a href="\amigos">
                        AMIGOS
                    </a>
                </div>
                <div class="Preguntas">
                    <a href="#">
                        PREGUNTAS
                    </a>
                </div>
                <div class="Desconectar">
                    <a href="/logout">
                        DESCONECTAR
                    </a>
                </div>
                <div class="Puntos">
                    <a href="#">
                        a
                    </a>
                </div>
            </div>
        </div>
        <div class="Actual">
            <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
            Actualmente estas en: Preguntas
        </div>
        <div class="contenido">

            <form method="POST" action="/crearPregunta" class="formulario" id="formPregunta">
                <div class="enunciado">
                    <label for="enunciado">Enunciado</label>
                    <input type="text" name="enunciado" id="mail">
                </div>
                <div class="preguntaIncorrecta">
                    <label for="respuesta_incorrecta">Respuesta Incorrecta</label>
                    <input type="text" name="p1" id="mail">
                </div>
                <div class="preguntaIncorrecta">
                    <label for="respuesta_incorrecta">Respuesta Incorrecta</label>
                    <input type="text" name="p2" id="mail">
                </div>
                <div class="preguntaIncorrecta">
                    <label for="respuesta_incorrecta">Respuesta Incorrecta</label>
                    <input type="text" name="p3" id="mail">
                </div>
                <div class="preguntaCorrecta">
                    <label for="respuesta_correcta">Respuesta Correcta</label>
                    <input type="text" name="pCorrecta" id="mail">
                </div>
                <input type="submit" value="crear" id="crear">
            </form>
            <textarea name="comment" form="formPregunta">Enter text here...</textarea>



        </div>
</body>

</html>