<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="icon" href="">
	<title>Let´s Answer!</title>
	<link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
</head>

<body>
	<div class="contenedor">
		<div class="izquierda">
			<div class="logo">

			</div>
			<div class="Bienvenida">
				<h1>Bienvenido a Let´s Answer</h1>
				<p>Let´s Answer es una red social donde puedes hacerte preguntas con tus amigos y asi obtener puntos. Enfrentate a tus amigos y demuestra 
					que no tienen nada que hacer contra ti!. Además podras crear tus propias preguntas para desafiar la inteligencia de el resto de usuarios de Let´s Answer. </p>
			</div>
			<div class="RegistroBtn">
				<a href="/nuevoUsuario.html">
					Registrate ahora!
				</a>
			</div>
		</div>


		<div class="derecha">
			<div class="Entrar"> Login to your account
				<form method="POST" action="/loginUser">
					<label for="mail">E-mail:</label>
					<input type="text" name="email" id="mail">

					<label for="password">Password</label>
					<input type="password" name="password">

					<input type="submit" value="login" id="formLogin">

					<% if( errorMsg != null){ %>
						<p class="mensajeError">MENSAJE DE ERROR</p>
					<% } %>
				</form>
			</div>
		</div>
	</div>
</body>

</html>