<!DOCTYPE html>
<html>

<head>
  
    <meta charset="utf-8">
    <link rel ="icon" href= "img/icon.jpg">
    <title>Let´s Answer!</title>
    <link rel="stylesheet" type="text/css" href="css/preguntasAleatorias.css" media="screen" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            	<div class = "Userlogged"> 
                        <div class=" foto">
                            <img src  = "/usuarios/imagenUsuario"class = "fotos">
                        </div>
                        <div class = "Usuario">
                            <%=usuariologeado%>
                        </div>
                    </div>
            <div class="titulo">Let´s Answer!</div>
            <div class="botones">
                <div class="Amigos">
                    <a href="/usuarios/profile">
                        PERFIL
                    </a>
                </div>
                <div class="Amigos">
                    <a href="/usuarios/amigos">
                        AMIGOS
                    </a>
                </div>
                <div class="Preguntas">
                    <a href="#">
                        PREGUNTAS
                    </a>
                </div>
                <div class="Desconectar">
                    <a href="/usuarios/logout">
                        DESCONECTAR
                    </a>
                </div>
                <div class="Puntos">
                    <a href="#">
                        a
                    </a>
                </div>
            </div>
        </div>
        <div class="Actual">
            <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
            Actualmente estas en: Preguntas
        </div>
        <div class="contenido">
            <h1>Preguntas seleccionadas anteriormente</h1>
            <div class="bloque_preguntas">
                <% preguntas.forEach(function(pregunta) { %>
                    <div class="pregunta">
                       <a href="/preguntas/preguntasAleatorias/<%= pregunta.id %>"><%= pregunta.enunciado %></a> 

                    </div>
                <% }); %>
            </div>
        </div>
        <h1>¡Añade tus preguntas!</h1>
        <div class="crear_pregunta">
            <a href="/preguntas/crearPregunta">
                 CREAR NUEVA PREGUNTA
            </a>
        </div>
        

    </div>
</body>

</html>