<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="icon" href="">
    <title>Let´s Talk!</title>
    <link rel="stylesheet" type="text/css" href="../css/pregunta.css" media="screen" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            	<div class = "Userlogged"> 
                        <div class=" foto">
                            <img src  = "/imagenUsuario">
                        </div>
                        <div class = "Usuario">
                            <%=usuariologeado%>
                        </div>
                    </div>
            <div class="titulo">Let´s Talk!</div>
            <div class="botones">
                <div class="Perfil">
                    <a href="\perfil.html">
                        PERFIL
                    </a>
                </div>
                <div class="Amigos">
                    <a href="\amigos.html">
                        AMIGOS
                    </a>
                </div>
                <div class="Preguntas">
                    <a href="#">
                        PREGUNTAS
                    </a>
                </div>
                <div class="Desconectar">
                    <a href="/logout">
                        DESCONECTAR
                    </a>
                </div>
                <div class="Puntos">
                    <a href="#">
                        a
                    </a>
                </div>
            </div>
        </div>
        <div class="Actual">
            <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
            Actualmente estas en: Preguntas
        </div>
        <div class="contenido">
            <% if (contestado === 0) { %>
            <h1><%= pregunta.pregunta %></h1>
            <div class="pregunta_contestada">
                <h3>No has cotestado a esta pregunta</h3>
                <a href="/contestarPregunta/<%= pregunta.id %>">
                    Contestar pregunta
                </a>
            </div>
            <% }else{ %>
                <div class="pregunta_contestada">
                    <h3>Ya has contestado a esta pregunta</h3>
                </div>
            <% } %>
            <div class="amigos_contestaron">
                <h3>Los siguientes amigos contestaron a la pregunta</h3>
                <div class="amigo">
                    <div class="info_amigo">
                        <div class="fotoAmigo">
                        </div>
                        <div class="NombreAmigo">
                            Bruja Piruja
                        </div>
                    </div>

                    <div class="accion">
                        Adivinar
                    </div>
                </div>
                <div class="amigo">
                    <div class="info_amigo">
                        <div class="fotoAmigo">
                        </div>
                        <div class="NombreAmigo">
                            Hannibal Gómez
                        </div>
                    </div>

                    <div class="accion">
                        Adivinar
                    </div>
                </div>
                <div class="amigo">
                    <div class="info_amigo">
                        <div class="fotoAmigo">
                        </div>
                        <div class="NombreAmigo">
                            Stuart Minion
                        </div>
                    </div>

                    <div class="accion">
                        Has acertado
                    </div>
                </div>
                <div class="amigo">
                    <div class="info_amigo">
                        <div class="fotoAmigo">
                        </div>
                        <div class="NombreAmigo">
                            Goomba
                        </div>
                    </div>

                    <div class="accion">
                        Has fallado
                    </div>
                </div>
            </div>

        </div>



    </div>
</body>

</html>